@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

.about {
  text-align: left;
  padding: 0;
  margin: 0;
}

.svg {
  color: #ffffff;
  margin: 0;
  padding: 0 3em;
}

svg {
  margin: 0 .1em;
}

.svg a {
  color: inherit;
}
.svg a:hover {
  color: #007bff;
}

.about header {
  background: linear-gradient(180deg,rgba(0,0,0, .5), rgba(0,0,0,.6),rgba(0,0,0,1)), url("https://res.cloudinary.com/github-com-opara-prosper/image/upload/c_scale,w_1000/v1586561707/op_1_ucncoi.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 100%;
  text-align: left;
}

.about header h2 {
  padding-top: 80vh;
  margin: 0;
}

.about h2 {
  font-weight: 900;
  font-size: 70px;
  color: #ffffff;
}

h3 {
  font-size: 50px;
  color: #333;
  font-weight: 900;
  margin: 0 0 1em;
  text-align: center;
}
.work-detail h4 {
  font-size: 20px;
}

.about article {
  height: 100vh;
  overflow-y: scroll;
  box-sizing: inherit;
  font-size: 20px;
  width: 100%;
}

.about section {
  padding: 0 1em 1em;
}
section.about-section {
  padding-top: 5em;
}

.about .projects {
  background: whitesmoke;
  text-align: center;
}

.about .project-item {
  height: 350px;
  margin: 1em ;
  font-size: 15px;
  background: #222;
  box-shadow: 5px 5px 0 rgba(9,9,9, 1);
}

.about .project-detail {
  padding: 0 1em;
}
.about .projects h3 {
  color: #111;
  padding-top: 1.5em;
}
.about .project-item a {
  color: orange;
  text-decoration: none;
}

.about .project-item img {
  height: 50%;
  width: 100%;
}

.work-detail h3, .community-item-about h3 {
  font-size: 30px;
  color: orange;
  text-align: left;
}
.work-detail, .community-item-about {
  margin: 0 2em;
  border-left: 3px solid #888;
  padding: 0 1em;
}
.about .work-detail::before, .community-item-about::before {
  content: "";
  background: #111;
  border: 2px solid #fff;
  height: 25px;
  width: 25px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: -2.3%;
}
.work-company {
  text-align: center;
}
.work-company img {
  width: 80%;
  height: 80%;
  margin-bottom: 0;
}

@media  (max-width: 959px) {
  .about header {
    height: 30vh;
    display: none;
  }
  .about header h2 {
    margin-top: 20%;
    font-size: 40px;
  }
  .about h3 {
    font-size: 40px;
  }
  .about .work-detail, .community-item-about {
    padding: 0;
    border: none;
    margin: 0 1em;
  }
  .about .work-detail::before, .community-item-about::before {
    display: none;
  }
  .about .work-company {
    text-align: center;
  }
  .about .work-company img, .community-item img {
    width: 30%;
    height: 30%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .about article {
    font-size: 30px;
  }
  .about .work-company {
    text-align: left;
  }
  .about .work-company img {
    width: 80%;
    height: 80%;
  }
  .about h3 {
    font-size: 70px;
    margin-bottom: 1em;
  }
  .about .work-detail h3 {
    font-size: 50px;
  }
  .about .work-detail h4 {
    font-size: 30px;
    margin: .5em 0;
  }

  .about .work-detail::before, .community-item-about::before {
    content: "";
    background: #111;
    border: 2px solid #ffffff;
    height: 25px;
    width: 25px;
    z-index: 1;
    position: absolute;
    top: .5%;
    left: -4%;
    display: block;
  }
  .about .work-detail, .community-item-about {
    margin: 0 2em;
    border-left: 3px solid #888;
    padding: 0 1em;
  }

  .about .project-item {
    height: 530px;
    font-size: 30px;
  }
  .about .project-item img {
    height: 300px;
  }
  .about .project-detail h4 {
    font-size: 40px;
  }
  .about .projects h3 {
    padding-top: 1em;
  }
}
