.about {
  text-align: left;
  padding: 5em 0;
  width: 90%;
  margin: 3em auto auto;
  border-radius: 5px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px;
}

.projects {
  padding: 0;
  width: 95%;
  margin: auto;
}

.projects div.project-item {
  height: 300px;
  margin-bottom: 5em ;
  text-align: left;
  font-size: 13px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px;
}

.projects h3 {
  margin-bottom: .5em;
  padding-top: 1em;
}
.projects h4 {
  font-size: 25px;
  font-weight: 600;
  margin: 200px 0 .5em;
  color: #111;
  padding: .1em .5em;
  background: #f3a100;
}
.projects a, .projects a:hover {
  text-decoration: none;
}

section.job-experience {
  padding: 4em 0;
  width: 75%;
  margin: auto;
}
.work-company h3 {
  font-size: 20px;
  margin: 0;
  text-align: left;
  color: #555;
}
.work-detail h3, .community-item-about h3 {
  font-size: 25px;
  color: rgba(13, 33, 159, 0.8);
  text-align: left;
  margin: 0 0 .5em;
}
.community-item-about h3 {
  font-size: 20px;
}
.work .work-detail, .community-item-about {
  margin: 0 2em;
  border-left: 2px solid orange;
  padding: 0 1em 3em 2em;
  height: 100%
}
.work-detail::before, .community-item-about::before {
  content: "";
  background: #fff;
  border: 2px solid orange;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: -8px;
}

@media  (max-width: 959px) {
  .about {
    width: 90%;
    margin: 0 auto;
    padding: 1em;
  }
  .about header{
    display: none;
  }
  .about header h2 {
    margin-top: 20%;
    font-size: 40px;
  }
  .about h3 {
    font-size: 40px;
  }
  section.job-experience {
    width: 90%;
    margin-top: 0;
    padding-bottom: 0;
  }
  .work .work-detail, .community-item-about {
    padding: 0;
    border: none;
    margin: 0 0;
  }
  .work .work-detail::before, .community-item-about::before {
    display: none;
  }

  .projects {
    width: 70%;
    margin: auto;
    padding: 0;
  }
  .project-list {
    margin: 0;
  }
  .projects div.project-item {
    height: 220px;
  }
  .projects h3 {
    padding-top: 2em;
  }
  .projects h4 {
    margin-top: 150px;
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .about .work-company {
    text-align: left;
  }
  .about .work-company img {
    width: 80%;
    height: 80%;
  }
  .about h3 {
    font-size: 70px;
    margin-bottom: 1em;
  }
  section.job-experience {
    width: 90%;
  }
  .about .work-detail h3 {
    font-size: 50px;
  }
  .about .work-detail h4 {
    font-size: 30px;
    margin: .5em 0;
  }
  .work div.duration {
    font-size: 14px;
  }
  .projects div.project-item {
    height: 320px;
  }
  .projects div.project-detail h4 {
    font-size: 30px;
    margin-top: 220px;
  }
}
