.about {
  text-align: left;
  padding: 8em 0;
  width: 100%;
  background: ghostwhite;
}
.about header, .community header {
  width: 100%;
  height: 100%;
  text-align: left;
  transform: rotate(10deg);
  border-radius: 0;
  border: 2px solid rgba(255, 255, 255, 0.9);
  box-shadow: 15px 15px 5px rgba(0, 0, 0, .5);
  cursor: pointer;
}
.about header img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.about header:hover, .community header:hover {
  transform: rotate(0);
  border: 3px solid #fff;
}

.projects {
  /*background: #fff;*/
  padding: 0;
  width: 80%;
}

.projects div.project-item {
  height: 300px;
  width: 300px;
  /*margin: 1em ;*/
  text-align: left;
  font-size: 13px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px;
}

.projects h3 {
  margin-bottom: .5em;
}
.projects h4 {
  font-size: 25px;
  margin: 220px 0 .5em;
  color: orange;
}
.projects a, .projects a:hover {
  text-decoration: none;
}

section.job-experience {
  padding: 4em 0;
  width: 80%;
  margin: auto;
}
.work-company h3 {
  font-size: 20px;
  margin: 0;
  text-align: left;
}
.work-detail h3, .community-item-about h3 {
  font-size: 30px;
  color: #007bff;
  text-align: left;
  margin: 0 0 .5em;
}
.community-item-about h3 {
  font-size: 20px;
}
.work .work-detail, .community-item-about {
  margin: 0 2em;
  border-left: 2px solid orange;
  padding: 0 1em 3em 2em;
  height: 100%
}
.work-detail::before, .community-item-about::before {
  content: "";
  background: #fff;
  border: 2px solid orange;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: -8px;
}

@media  (max-width: 959px) {
  .about {
    margin: auto;
    padding: 2em;
  }
  .about header{
    display: none;
  }
  .about header h2 {
    margin-top: 20%;
    font-size: 40px;
  }
  .about h3 {
    font-size: 40px;
  }
  .job-experience {
    /*width: 90%;*/
    /*margin: inherit auto;*/
  }
  .work .work-detail, .community-item-about {
    padding: 0;
    border: none;
    margin: 0 0;
  }
  .work .work-detail::before, .community-item-about::before {
    display: none;
  }

  .projects {
    text-align: center;
    margin: 0;
  }
  .project-list {
    margin: 0;
  }
  div.project-item {
    min-width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .about .work-company {
    text-align: left;
  }
  .about .work-company img {
    width: 80%;
    height: 80%;
  }
  .about h3 {
    font-size: 70px;
    margin-bottom: 1em;
  }
  .about .work-detail h3 {
    font-size: 50px;
  }
  .about .work-detail h4 {
    font-size: 30px;
    margin: .5em 0;
  }

  .work .work-detail, .community-item-about {
    padding: 0;
    border: none;
    margin: 0 1em;
    text-align: left;
  }
  .work .work-detail::before, .community-item-about::before {
    display: none;
  }
  .about .project-item {
    height: 530px;
    font-size: 30px;
  }
  .about .project-item img {
    height: 300px;
  }
  .about .project-detail h4 {
    font-size: 40px;
  }
  .about .projects h3 {
    padding-top: 1em;
  }
}
