.community {
  text-align: left;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.community header {
  background: linear-gradient(180deg,rgba(0,0,0, .5), rgba(0,0,0,.6),rgba(0,0,0,1)), url('https://res.cloudinary.com/github-com-opara-prosper/image/upload/v1586561698/op_2_fz6fnq.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  text-align: left;
}

.community header h2 {
  padding-top: 80vh;
  margin:  0;
}

.community h2 {
  color: #fff;
  font-size: 70px;
}
.community-item h4 {
  margin: 0;
  font-size: 20px;
}

.community article {
  color: #333;
  height: 100vh;
  overflow-y: scroll;
  /* padding: 1em 0; */
  font-size: 20px;
}

.community section {
  padding: 5em 1em 1em;
}

.speaking-timeline {
  background: whitesmoke;
}
.speaking-timeline h3 {
  color: orange;
  text-align: center;
}

.talk {
  background: #222;
  color: #fff;
  margin: 1em auto 2em;
  padding: .5em 1em 1em;
  height: 350px;
  box-shadow: 10px 10px 0 rgba(1, 1, 1, 0.8);
  width: 85%;
}
.talk h4 {
  font-size: 30px;
  margin: .5em 0 0;
  color: orange;
}
.talk h5 {
  font-size: 17px;
  /* color: orange; */
}
.talk-label {
  background: #007bff;
  font-style: italic;
  padding: .01em .5em;
  border-radius: 5px;
  margin-bottom: .5em;
  color: #fff;
}
.talk p {
  color: #fff;
}

@media (max-width: 959px) {
  .community header {
    display: none;
  }
  .community header h2 {
    padding-top: 20%;
    font-size: 40px;
  }
  .community-item {
    text-align: center;
  }
  .community-item-about h3, .work-detail h4 {
    font-size: 20px;
    margin: .5em 0;
  }
  .community-item h4, .work-detail h3 {
    font-size: 25px;
    margin: 0;
  }
  .talk {
    height: 450px;
    width: 100%;
  }
  .talk h4 {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .community article {
    font-size: 30px;
  }

  .community-item, .community-item span, .work-company{
    text-align: center;
    font-size: 25px;
  }
  .community-item img {
    width: 20%;
    height: 20%;
  }

  .community header h2 {
    padding-top: 20%;
    font-size: 200%/1em;
  }

  .community-item h4 {
    font-size: 30px;
  }
  .community-item-about h3 {
    font-size: 50px;
    margin: 0 0 ;
  }
  .talk {
    height: 440px;
    padding: 1em;
  }
  .talk h4 {
    font-size: 35px;
    margin: auto;
  }
  .talk h5 {
    font-size: 25px;
  }
  .community-item-about {
    font-size: 30px;
  }
  /*Appears on line 136 in about.css style sheet*/
  .community-item img {
    width: 50%;
    height: 50%;
  }

}