.community {
  text-align: left;
  padding: 5em 0;
  margin: 0 auto;
  width: 90%;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px;
}

.community h2 {
  color: #fff;
  font-size: 70px;
}

.community-item h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.community article {
  color: #333;
  font-size: 20px;
}

.community section {
  padding: 5em 1em 1em;
}

.speaking-timeline {
  padding: 5em 0 0;
  width: 100%;
}

.talk {
  background: #fff;
  color: #333;
  margin: 1em auto 2em;
  padding: 2em 2em;
  width: 50%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px;
}
.talk-detail h4 {
  font-size: 30px;
  margin:0 0 .5em;
  /*color: #fff;*/
}
.talk-event h4{
  font-weight: 100;
  margin: .5em 0;
  font-size: 25px;
  color: #333;
}
.talk a:hover {
  text-decoration: none;
}
.talk h5 {
  font-size: 17px;
  color: #333;
  margin: .3em 0;
  font-weight: 100;
}
.talk i {
  float: right;
}
.talk p {
  color: #777;
}
.talk hr {
  width: 100%;
  margin-bottom: 1em;
  background: ghostwhite;
}
.talk hr::before {
  display: none;
}

@media (max-width: 959px) {
  .community {
    text-align: left;
  }
  .community header {
    display: none;
  }
  .community header h2 {
    padding-top: 20%;
    font-size: 40px;
  }
  .about-community {
    border: 1px solid #fff;
    border-radius: 10px;
    width: 90%;
    margin: 1em auto;
    padding: .5em 0;
  }
  .community-item {
    text-align: left;
  }
  .community-item-about h3 {
    font-size: 13px;
    margin: .5em 0;
    padding: 0 1.2em;
  }
  .work-detail h4 {
    font-size: 20px;
    margin: .5em 0;
  }
  .community-item h4, .work-detail h3 {
    font-size: 20px;
    margin: 0;
  }
  .community-item h4 {
    font-size: 18px;
  }
  .talk {
    height: 300px;
    width: 90%;
  }
  .talk h4 {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .about-community {
    padding: 2em .5em;
  }
  .community-item, .community-item span, .work-company{
    text-align: left;
    font-size: 25px;
  }
  .community-item img {
    width: 20%;
    height: 20%;
  }

  .community header h2 {
    padding-top: 20%;
    /*font-size: 200%/1em;*/
  }
  .about-community div.community-item-about h3 {
    font-size: 16px;
    margin: .5em 0;
    padding: 0 1.2em;
  }

  .community-item h4 {
    font-size: 20px;
  }
  .community-item span {
    font-size: 14px;
  }
  .talk {
    height: 300px;
    padding: 1em;
  }
  .talk h4 {
    font-size: 35px;
    margin: auto;
  }
  .talk h5 {
    font-size: 25px;
  }
  .community-item-about {
    font-size: 30px;
  }
  /*Appears on line 136 in about.css style sheet*/
  .community-item img {
    width: 50%;
    height: 50%;
  }

}