.App-header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(168deg, rgba(19,49,192,.7) 35%, rgb(4, 8, 107) 100%), url("https://res.cloudinary.com/github-com-opara-prosper/image/upload/c_scale,w_900/v1586561707/op_tzhnyp.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
li {
  width: 100%;
}
hr {
  width: 300px;
  margin: 1em auto 4em;
  height: 1px;
  background: rgba(153, 153, 153, 0.335);
}
hr::before {
  content: "| | |";
  position: relative;
  top: -12px;
  left: 50%;
  color: #ffa500;
}
.invisible-div {
  visibility: hidden;
}
.App-header .img {
  width: 100%;
  background: transparent;
  position: absolute;
  right: 0;
  top: 33vh;
  bottom: inherit;
}
.App-header .img img {
  width: 20%;
  height: 20%;
  position: relative;
  left: 55vw;
  border-radius: 100%;
  border: 5px solid rgba(255, 255, 255, .9);
  /*box-shadow: rgba(255, 255, 255, 1) 10px 10px 1px 0px;*/
  margin: 0;
}
.bg-img {
  width: 60%;
  position: relative;
  text-align: left;
  margin: 40vh auto 10vh;
}

.bg-img h1 {
  font-size: 2rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
  margin: 0 0 3em;
  visibility: hidden;
}
.bg-img h1 span {
  color: #ffb723;
}

.svg {
  color: #333;
  margin: 0 0 2em;
  padding: 0 3em;
}

svg {
  margin: 0 .1em;
}

.svg a {
  color: inherit;
}
.svg a:hover {
  color: #007bff;
}
.stack hr {
  margin-bottom: 1em;
}
.stack hr:before {
  left: 0;
}
.stack svg {
  color: #fff;
  font-size: 100em;
}
.stack {
  background: rgba(0,23,177,0.9);
  padding: .5em 0 4em;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px;
}

.stack h4 {
  margin: 1em 0 .5em;
  font-size: 35px;
  color: #ffb723;
  font-weight: 600;
}
.stack svg {
  margin-top: .5em;
  font-size: 85px;
}

h3 {
  font-size: 50px;
  color: #ffb723;
  font-weight: 900;
  margin: 0 0;
  text-align: center;
}

.contact {
  background: ghostwhite;
  padding-bottom: 3em;
}
.contact h3{
  padding: 1em 0 0;
}
.contact-form {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px;
  padding: 2em;
  border-radius: 5px;
}
.contact-form textarea {
  height: 200px;
}
.contact svg {
  font-size: 36px;
  margin: 0 .2em;
}

@media (max-width:959px) {
  .App-header {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
  }
  .bg-img {
    margin-top: 50vh;
    text-align: center;
    width: 100%;
    padding-bottom: 4em;
  }
  .App-header .bg-img h1 {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
  }
  .App-header .img {
    width: 60%;
    left: 10vh;
    top: 15vh;
  }
  h3 {
    font-size: 30px;
  }
  hr {
    width: 200px;
  }
  .App-header .img img {
    right: 0vw;
    left: 0vw;
    width: 100%;
    height: 100%;
  }
  .bg-img h1 {
    font-size: 30px;
  }
  .stack svg {
    font-size: 50px;
  }
  .stack {
    width: 80%;
  }
  .contact h3 {
    padding-top: 2.5em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .App-header {
    height: 90vh;
  }
  p {
    font-size: 25px;
  }
  .App-header .bg-img h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
  }
  .App-header .img {
    left: 20vw;
  }
  .bg-img {
    margin: auto;
    margin-top: 60vh;
    width: 100%;
  }
  .stack {
    width: 60%;
    margin-top: 1em;
  }
  .contact {
    width: 80%;
    margin: auto;
  }
}