@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  background: ghostwhite;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: 'Lato', sans-serif !important;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

.about span, .community-item-about span {
  font-weight: 900;
}

.tdlr {
  font-weight: 900;
  font-size: 33px;
  /*color: #DF1995;*/
  color: #ffb723;
}

a.nav-link {
  color: #fff;
  width: 100%;
}
a {
  color: rgba(13, 33, 159, 0.86);
}
a:hover {
  color: orange;
  text-decoration: none;
}
p {
  font-size: 18px;
}